/* Category.module.css */
.category * {
    margin: 0 auto;
}

.sub {
    width: 1200px;
    height: 120px;
}

.sub button {
    width: 90px;
    height: 100px;
    background-color: white;
    border: none;
}

.sub_ctgr {
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub_ctgr p {
    margin-top: 8px;
    font-size: 12px;
}

.icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}